@import "tailwindcss";



body{
    background-color:#f0f2f5 ;
    font-family: "Rubik", sans-serif !important;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

@keyframes dots {
  0%   { content: ''; }
  25%  { content: '.'; }
  40%  { content: '..'; }
  60%  { content: '...'; }
  75%  { content: '....'; }
  100% { content: ''; }
}

.loading-dots {
  display: inline-block;
  width: 1.5em;  /* reserve space for up to 3 dots */
  text-align: left;
}

.loading-dots::after {
  content: '';
  animation: dots 2s steps(1, end) infinite;
}

