@import "tailwindcss";


body{
    background-color:#dde1e6 
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

@keyframes dots {
  0%   { content: ''; }
  25%  { content: '.'; }
  50%  { content: '..'; }
  75%  { content: '...'; }
  100% { content: ''; }
}

.loading-dots {
  display: inline-block;
  width: 1.5em;  
  text-align: left;
}

.loading-dots::after {
  content: '';
  animation: dots 2s steps(1, end) infinite;
}
